/* This css file is to override bootstarp css
********************************************************* /
* Theme Name: ListingGEO - Directory Listing Template
* Theme URI:  http://themeforest.ne/user/codepassenger
* Author: CodePassenger
* Author URI: http://CodePassenger.com
* Description:  listingGeo HTML5 Template
* Version: 1.0.0
* License: GNU General Public License v2 or later
* License URI: http://www.gnu.org/licenses/gpl-2.0.html
* Tags: ahtml5,css3,site template,listing,creative,geo,location
*********************************************************** /


/*
|----------------------------------------------------------------------------
| CSS INDEX
|----------------------------------------------------------------------------


1. General Style

2. Main header Style

3. Main Banner Style

4. Breadcrumb Style

5. About Style

6. Blog Style

7. Team Style

8. Listing Catagory Style

9. Popular Cities Style

10. Working Process Style

11. Single Style

12. Widgets Style

13. Single Style

14. Testimonial Style

15. Call to action Style

16. Working Map Style

17. Pricing Style

18. Form Style

19. Map Style

20. Listing Map Style

21. Add listing Style

22. Pagination Style

23. Contact Style

24. 404 Style

25. Dashboard Style

26. Footer Style
*/
/*
|----------------------------------------------------------------------------
| 1. General Style
|----------------------------------------------------------------------------
*/
html, html a {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

.listing-post-map {
  height: 502px; }

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #111;
  font-weight: 400;
  background: transparent;
  text-rendering: optimizeLegibility; }

p {
  line-height: 26px;
  font-size: 14px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  line-height: 100%;
  font-weight: 500;
  font-family: "Poppins", sans-serif; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

img {
  -o-object-fit: cover;
  object-fit: cover;
  display: inline-block; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }
  a:hover, a:focus {
    text-decoration: none;
    color: #111;
    outline: 0; }

button {
  font-family: "Poppins", sans-serif; }

iframe {
  border: 0; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(17, 17, 17, 0.7); }

.social-with-label span {
  margin-right: 10px; }

.social-with-label ul, .social-with-label span {
  display: inline-block; }

.social-with-label ul.social {
  width: calc(100% - 120px); }

/*--- section title style --*/
.section-title {
  text-align: center;
  margin-bottom: 45px; }
  .section-title h2 {
    margin-bottom: 0;
    line-height: 62px; }
  .section-title p {
    margin-bottom: 0; }

/*--- all button style --*/
.icon-btn {
  width: 177px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  border: none; }
  .icon-btn:hover, .icon-btn:focus, .icon-btn:active {
    color: #fff;
    outline: 0; }
  .icon-btn i.fa {
    margin-right: 5px; }

a[class^='icon-btn-'] {
  width: 130px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  border-radius: 3px;
  margin: 0 5px; }
  a[class^='icon-btn-'] i.fa {
    margin-right: 5px; }

.icon-btn-fb {
  background: #3b5998; }

.icon-btn-tw {
  background: #1da1f2; }

.icon-btn-gplus {
  background: #dd4b39; }

.adining-listing-btn {
  background-color: #fd880a; }
  .adining-listing-btn:hover, .adining-listing-btn:focus, .adining-listing-btn:active {
    background-color: rgba(253, 136, 10, 0.78); }

.explore-listing-btn {
  background-color: #9dcb45; }
  .explore-listing-btn:hover, .explore-listing-btn:focus, .explore-listing-btn:active {
    background-color: rgba(127, 186, 0, 0.78); }

.listing-btn-cmn,
.contact-btn {
  width: 117px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: #fd880a; }
  .listing-btn-cmn:hover, .listing-btn-cmn:focus, .listing-btn-cmn:active,
  .contact-btn:hover,
  .contact-btn:focus,
  .contact-btn:active {
    color: #fff;
    background-color: rgba(253, 136, 10, 0.78); }

.pricing-btn {
  width: 213px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  color: #111;
  border: 1px solid #e7e7e7;
  background: transparent;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .pricing-btn:hover, .pricing-btn:focus, .pricing-btn:active {
    color: #fff;
    border-color: #fd880a;
    background: #fd880a; }

.form-btn {
  width: 100%;
  height: 45px;
  color: #fff;
  background: #fd880a;
  border: none;
  cursor: pointer; }
  .form-btn:focus {
    outline: 0; }

.rate-btn {
  width: 64px;
  height: 26px;
  border-radius: 4px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  border: 1px solid #9dcb45;
  margin-right: 5px; }
  .rate-btn i.fa {
    margin-right: 5px; }

.listing-btn-large {
  width: 185px;
  height: 45px;
  line-height: 45px;
  background: #fd880a;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center; }
  .listing-btn-large:focus, .listing-btn-large:active, .listing-btn-large:hover {
    outline: 0;
    color: #fff; }

.success-btn,
.danger-btn {
  width: 110px;
  height: 40px;
  border-radius: 3px;
  line-height: 40px;
  color: #fff;
  border: none;
  text-align: center; }
  .success-btn:focus, .success-btn:active, .success-btn:hover,
  .danger-btn:focus,
  .danger-btn:active,
  .danger-btn:hover {
    outline: 0;
    color: #fff; }

.success-btn {
  background: #9dcb45; }

.danger-btn {
  background: #fd880a; }

.border-btn {
  height: 34px;
  width: 95px;
  border: 1px solid #e7e7e7;
  text-align: center;
  line-height: 31px; }

/*-- social-share --*/
.social-share-block {
  display: inline-block;
  text-align: right;
  position: absolute; }
  .social-share-block:hover .social-list {
    opacity: 1;
    visibility: visible; }
  .social-share-block:hover button {
    color: #fd880a; }
  .social-share-block button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    padding-right: 0;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .social-share-block button:hover, .social-share-block button:focus, .social-share-block button:active {
      border: none;
      outline: 0; }

.social-list {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 0;
  width: 170px;
  background: #fff;
  padding: 3px 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .social-list li {
    list-style: none;
    margin: 0 5px;
    display: inline-block; }
    .social-list li a {
      color: #111;
      -webkit-transition: 0.3s ease-in;
      -o-transition: 0.3s ease-in;
      transition: 0.3s ease-in; }
      .social-list li a:hover, .social-list li a:active, .social-list li a:focus {
        color: #fd880a; }

/*--- social icon style --*/
ul.social {
  margin: 0;
  padding: 0;
  display: inline-block; }
  ul.social li {
    list-style: none;
    display: inline-block;
    margin: 0 8px; }
    ul.social li a {
      color: #fff;
      -webkit-transition: 0.3s ease-in;
      -o-transition: 0.3s ease-in;
      transition: 0.3s ease-in; }
      ul.social li a:hover, ul.social li a:active, ul.social li a:focus {
        color: #fd880a; }

.gallary-section {
  padding: 100px 0 70px 0; }

.gallary-image {
  margin-bottom: 30px; }

/*-- Blog Common Style -- */
.post-thumb {
  position: relative; }

.post-model {
  width: 80%;
  max-width: none;
  position: relative; }
  .post-model .close {
    position: absolute;
    right: -20px;
    top: -10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fd880a;
    text-align: center;
    color: #fff;
    line-height: 30px;
    z-index: 9;
    opacity: 1;
    font-size: 20px;
    font-weight: 400; }
    .post-model .close:hover, .post-model .close:focus, .post-model .close:active {
      outline: 0; }
  .post-model .modal-content {
    background: transparent; }
  .post-model .popular-listing-post {
    height: 502px; }
  .post-model .popular-listing-post .post-thumb img {
    width: 100%; }

/*** Form and inputs ***/
input:not([type=submit]):not([type=radio]):not([type=checkbox]):focus, select:focus, textarea:focus {
  outline: none; }

/*---------------------------------------
2. Main header Style
---------------------------------------*/
.navbar-brand {
  position: relative;
  left: 60px; }

.navbar-nav li {
  margin-right: 10px; }
  .navbar-nav li:last-child {
    margin-right: 0; }

.user-panel {
  width: 285px;
  float: right;
  position: fixed;
  right: 0;
  z-index: 1032;
  padding: 30px 0;
  min-height: 80px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .user-panel a {
    display: inline-block;
    margin: 0 24px;
    color: #fff;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .user-panel a:hover, .user-panel a:focus, .user-panel a:active {
      color: #fd880a; }

.navbar-toggle-btn {
  color: #fff; }

.navbar-toggler {
  border: 1px solid #fff;
  border-radius: 0; }
  .navbar-toggler:hover, .navbar-toggler:focus {
    outline: 0; }

.main-nav-two-section .navbar-toggle-btn {
  color: #111; }

.main-nav-two-section .navbar-toggler {
  border: 1px solid #111; }

.dropdown-toggle::after {
  border: none;
  position: absolute;
  top: 25%;
  right: 10px;
  content: "\f107";
  font-family: 'FontAwesome'; }

.navbar {
  min-height: 80px;
  margin: 0;
  border-radius: 0;
  border: none;
  padding: 25px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.33); }
  .navbar .navbar-nav .nav-link {
    padding: 10px 20px;
    color: #fff;
    position: relative;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:active {
      color: #fd880a; }
  .navbar .navbar-nav > li > a {
    font-size: 14px;
    padding: 10px 21px; }
  .navbar .navbar-nav .dropdown-menu li > a {
    position: relative;
    padding: 5px 16px 0px; }
    .navbar .navbar-nav .dropdown-menu li > a:hover {
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #fd880a; }
  .navbar .navbar-nav .dropdown .dropdown-menu {
    top: 100%;
    margin-top: 0;
    padding: 15px 0;
    border-radius: 0px;
    min-width: 160px;
    font-size: 14px;
    border-radius: 0; }
    .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-menu {
      top: 0;
      left: 100%; }
  .navbar .navbar-nav .dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible; }
  .navbar .navbar-collapse {
    width: 65%; }
  .navbar .navbar-brand {
    display: inline-block; }

.main-nav-section.nav-affix .navbar {
  min-height: 60px;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.main-nav-section.nav-affix .user-panel {
  padding: 15px 0;
  min-height: 60px; }

.main-nav-section.main-nav-two-section .user-panel a {
  margin: 0 10px; }

.main-nav-section.main-nav-two-section .border-btn {
  border: 1px solid #fd880a;
  color: #111;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .main-nav-section.main-nav-two-section .border-btn:hover, .main-nav-section.main-nav-two-section .border-btn:focus, .main-nav-section.main-nav-two-section .border-btn:active {
    color: #fd880a; }

.main-nav-section.main-nav-two-section .user-addlisting-btn {
  height: 34px;
  width: 110px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  background: #fd880a; }

.main-nav-section.main-nav-two-section .navbar {
  background: white; }
  .main-nav-section.main-nav-two-section .navbar .navbar-nav .nav-link {
    color: #111;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .main-nav-section.main-nav-two-section .navbar .navbar-nav .nav-link:hover, .main-nav-section.main-nav-two-section .navbar .navbar-nav .nav-link:focus, .main-nav-section.main-nav-two-section .navbar .navbar-nav .nav-link:active {
      color: #fd880a; }

.main-nav-section.main-nav-two-section.nav-affix .navbar {
  min-height: 60px;
  padding: 10px 0;
  -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

@media (min-width: 992px) {
  .dropdown .dropdown-menu {
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    margin-top: -20px;
    opacity: 0;
    visibility: hidden;
    display: block; } }

/*
|----------------------------------------------------------------------------
| 3. Main Banner Style
|----------------------------------------------------------------------------
*/
.main-header-section {
  padding: 220px 0 140px 0;
  position: relative;
  background: url(../images/background/5.jpg) center center no-repeat;
  background-size: cover; }

.header-content-block {
  position: relative;
  z-index: 99; }

.header-title-block {
  text-align: center; }
  .header-title-block h2 {
    font-size: 62px;
    color: #fff;
    margin-bottom: 0;
    line-height: 70px;
    margin-bottom: 20px; }
  .header-title-block p {
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px; }

.filter-form.filter-header-form .form-group {
  width: 275px; }

.filter-form.filter-header-form .outer-select-input-box {
  width: 255px; }

.filter-form.filter-header-form button {
  width: 270px;
  border-radius: 0;
  cursor: pointer; }

.listing-promote-text {
  text-align: center;
  color: #fff;
  margin-bottom: 55px; }

.listing-promote-steps {
  text-align: center;
  background: url(../images/background/arrow-icon.png) center 20px no-repeat; }
  .listing-promote-steps .listing-promote-block {
    display: inline-block;
    width: 180px;
    color: #fff;
    text-align: center; }
    .listing-promote-steps .listing-promote-block span {
      font-size: 40px; }

/*-- Main Header Section Two --*/
.main-header-section-two .filter-form.filter-header-form .form-group,
.main-header-section-two .filter-form.filter-header-form .outer-select-input-box {
  width: 100%; }

.main-header-section-two .filter-form.filter-header-form .form-group {
  margin: 0 0 20px 0; }

.main-header-section-two .filter-form.filter-header-form .btn-group {
  position: relative;
  top: 0; }
  .main-header-section-two .filter-form.filter-header-form .btn-group button {
    margin: 0;
    width: 140px; }

.main-header-section-two .listing-catagory-block {
  width: 185px;
  height: 170px;
  margin: 6px 8px;
  display: inline-block;
  position: relative;
  z-index: 999;
  -webkit-box-shadow: -1px 1px 21px 3px rgba(204, 204, 204, 0.35);
  -moz-box-shadow: -1px 1px 21px 3px rgba(204, 204, 204, 0.35);
  box-shadow: -1px 1px 21px 3px rgba(204, 204, 204, 0.35); }
  .main-header-section-two .listing-catagory-block:after {
    content: none; }
  .main-header-section-two .listing-catagory-block:hover .catagory-text {
    -webkit-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px); }

/*
|----------------------------------------------------------------------------
| 4. Breadcrumb Style
|----------------------------------------------------------------------------
*/
.subheader {
  padding: 270px 0 180px 0;
  position: relative;
  text-align: center;
  background: url(../images/background/2.jpg) center center no-repeat; }
  .subheader h2 {
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 0;
    color: #fff;
    position: relative;
    z-index: 999; }

.subheader-two {
  padding: 130px 0 30px 0;
  background: url(../images/background/4.jpg) center center no-repeat; }

.breadcrumb-block {
  padding: 20px 0;
  -webkit-box-shadow: 0px 4px 7px -1px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 4px 7px -1px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 4px 7px -1px rgba(216, 216, 216, 0.75); }
  .breadcrumb-block .breadcrumb {
    margin-bottom: 0;
    display: inline-block;
    width: 49%;
    padding: 0;
    background: transparent;
    vertical-align: middle; }

.breadcrumb-item.active {
  color: #111; }

.breadcrumb-item + .breadcrumb-item::before {
  font-family: 'FontAwesome';
  content: "\f178";
  color: #111; }

.breadcrumb-call-to-action {
  width: 50%;
  text-align: right;
  display: inline-block; }
  .breadcrumb-call-to-action p {
    margin-bottom: 0;
    margin-right: 25px;
    display: inline-block; }

/*
|----------------------------------------------------------------------------
| 5. About Style
|----------------------------------------------------------------------------
*/
.about-widget-section {
  padding: 100px 0; }

.about-widget-block {
  padding: 40px 20px 33px 20px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 27px -4px rgba(222, 222, 222, 0.75);
  -moz-box-shadow: 0px 0px 27px -4px rgba(222, 222, 222, 0.75);
  box-shadow: 0px 0px 27px -4px rgba(222, 222, 222, 0.75); }
  .about-widget-block span[class^="ti-"] {
    font-size: 35px;
    color: #fd880a;
    display: block;
    margin-bottom: 23px; }
  .about-widget-block h4 {
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 18px; }
  .about-widget-block p {
    margin-bottom: 0;
    font-weight: 300; }

.about-info-section .about-info {
  margin-top: 95px; }
  .about-info-section .about-info h2 {
    font-weight: 600;
    margin-bottom: 20px; }
  .about-info-section .about-info p {
    font-weight: 300; }

/*
|----------------------------------------------------------------------------
| 6. Blog Style
|----------------------------------------------------------------------------
*/
.article-section {
  padding: 80px 0 50px 0; }

.gradient {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, transparent -3%, transparent -2%, transparent -1%, transparent 0%, transparent 10%, transparent 13%, transparent 19%, rgba(0, 0, 0, 0.6) 59%, rgba(0, 0, 0, 0.65) 62%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent -3%, transparent -2%, transparent -1%, transparent 0%, transparent 10%, transparent 13%, transparent 19%, rgba(0, 0, 0, 0.6) 59%, rgba(0, 0, 0, 0.65) 62%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-3%, transparent), color-stop(-2%, transparent), color-stop(-1%, transparent), color-stop(0%, transparent), color-stop(10%, transparent), color-stop(13%, transparent), color-stop(19%, transparent), color-stop(59%, rgba(0, 0, 0, 0.6)), color-stop(62%, rgba(0, 0, 0, 0.65)));
  background: -o-linear-gradient(top, transparent -3%, transparent -2%, transparent -1%, transparent 0%, transparent 10%, transparent 13%, transparent 19%, rgba(0, 0, 0, 0.6) 59%, rgba(0, 0, 0, 0.65) 62%);
  background: linear-gradient(to bottom, transparent -3%, transparent -2%, transparent -1%, transparent 0%, transparent 10%, transparent 13%, transparent 19%, rgba(0, 0, 0, 0.6) 59%, rgba(0, 0, 0, 0.65) 62%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */ }

.blog-post .post-meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
  padding: 20px 30px; }
  .blog-post .post-meta .post-date {
    width: 35%;
    color: #fff;
    display: inline-block; }

.blog-post .post-entry {
  margin-bottom: 15px; }

.blog-post .author-thumb-block {
  position: relative;
  display: inline-block;
  width: 30%;
  margin-right: 20px; }
  .blog-post .author-thumb-block:before {
    position: absolute;
    right: 0;
    top: 6px;
    content: '';
    height: 15px;
    width: 2px;
    background: #111; }
  .blog-post .author-thumb-block i.fa, .blog-post .author-thumb-block h5 {
    display: inline-block; }
  .blog-post .author-thumb-block i.fa {
    margin-right: 5px; }

.blog-post .post-tags {
  display: inline-block;
  width: 55%; }

.blog-post .post-title a,
.blog-post .post-tags a {
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .blog-post .post-title a:hover,
  .blog-post .post-tags a:hover {
    color: #fd880a; }

.blog-post .post-wrapper {
  padding: 25px 30px 30px 30px;
  box-shadow: -1px 2px 19px -2px rgba(195, 194, 194, 0.75);
  -webkit-box-shadow: -1px 2px 19px -2px rgba(195, 194, 194, 0.75); }

.latest-post {
  margin: 15px 0; }
  .latest-post .post-thumb {
    display: inline-block;
    width: 20%;
    margin-right: 20px; }
  .latest-post .title a {
    font-size: 16px;
    color: #fff; }
  .latest-post .post-wrapper {
    display: inline-block;
    width: 72%; }
  .latest-post .post-entry {
    font-size: 12px;
    line-height: 15px; }
  .latest-post .post-meta a {
    font-size: 12px;
    font-weight: 300;
    color: #fd880a; }

/* --- popular listing post one style --- */
.popular-listing-section {
  padding: 50px 0 40px 0; }

.breadcrumb-block + .popular-listing-section {
  padding: 100px 0 40px 0; }

.listing-info {
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 9; }
  .listing-info h4, .listing-info p {
    color: #fff;
    margin-bottom: 0;
    line-height: 26px; }
  .listing-info h4 {
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .listing-info h4 a:hover,
    .listing-info h4 a:active,
    .listing-info h4 a:focus {
      color: #fd880a; }

.rating-area {
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 9; }
  .rating-area ul {
    margin: 0;
    padding: 0;
    display: inline-block; }
    .rating-area ul li {
      display: inline-block;
      list-style: none; }
      .rating-area ul li i.fa {
        color: #fd880a; }
  .rating-area span {
    color: #fff; }

.option-block {
  position: absolute;
  bottom: 17px;
  right: 30px;
  z-index: 9; }
  .option-block ul {
    margin: 0;
    padding: 0;
    display: inline-block; }
    .option-block ul li {
      margin-right: 10px;
      position: relative;
      padding: 5px;
      display: inline-block;
      list-style: none; }
      .option-block ul li:last-child {
        margin-right: 0; }
      .option-block ul li i.fa {
        color: #fff; }

.bookmark:before {
  position: absolute;
  left: 0;
  top: 5px;
  color: #fff;
  content: "\f097";
  font-family: 'FontAwesome'; }

.bookmark.active:before {
  content: "\f02e";
  color: #fd880a; }

.popular-listing-post {
  margin-bottom: 60px; }
  .popular-listing-post .post-details {
    -webkit-box-shadow: -1px 2px 19px -2px rgba(195, 194, 194, 0.75);
    -moz-box-shadow: -1px 2px 19px -2px rgba(195, 194, 194, 0.75);
    box-shadow: -1px 2px 19px -2px rgba(195, 194, 194, 0.75); }
  .popular-listing-post .post-meta {
    padding: 10px 30px;
    border-bottom: 1px solid #e7e7e7;
    background: #fff; }
    .popular-listing-post .post-meta .location,
    .popular-listing-post .post-meta .tag {
      display: inline-block;
      width: 49%; }
    .popular-listing-post .post-meta .location {
      text-align: left; }
      .popular-listing-post .post-meta .location i.fa {
        color: #fd880a;
        margin-right: 3px; }
      .popular-listing-post .post-meta .location i.fa, .popular-listing-post .post-meta .location h5 {
        display: inline-block; }
    .popular-listing-post .post-meta .tag {
      text-align: right; }
      .popular-listing-post .post-meta .tag span {
        margin-right: 10px;
        padding: 0 3px;
        line-height: 100%;
        border-radius: 3px;
        border: 1px solid #fd880a; }
      .popular-listing-post .post-meta .tag i.fa {
        color: #9dcb45; }
  .popular-listing-post .post-entry-block {
    padding: 15px 20px;
    background: #fff; }
    .popular-listing-post .post-entry-block .post-author {
      width: 18%;
      margin-top: 10px;
      display: inline-block; }
      .popular-listing-post .post-entry-block .post-author img {
        border-radius: 50%;
        border: 2px solid #fff;
        height: 40px;
        width: 40px;
        -webkit-box-shadow: -1px 5px 13px -3px rgba(117, 117, 117, 0.75);
        -moz-box-shadow: -1px 5px 13px -3px rgba(117, 117, 117, 0.75);
        box-shadow: -1px 5px 13px -3px rgba(117, 117, 117, 0.75); }
    .popular-listing-post .post-entry-block .post-entry {
      display: inline-block;
      width: 80%;
      vertical-align: middle;
      margin-bottom: 0; }
  .popular-listing-post .post-footer {
    padding: 10px 30px;
    background: #f7f7f7; }
    .popular-listing-post .post-footer .contact-no,
    .popular-listing-post .post-footer .schedule-info {
      display: inline-block;
      width: 49%; }
      .popular-listing-post .post-footer .contact-no i.fa, .popular-listing-post .post-footer .contact-no h5,
      .popular-listing-post .post-footer .schedule-info i.fa,
      .popular-listing-post .post-footer .schedule-info h5 {
        display: inline-block; }
      .popular-listing-post .post-footer .contact-no i.fa,
      .popular-listing-post .post-footer .schedule-info i.fa {
        margin-right: 5px; }
    .popular-listing-post .post-footer .contact-no i.fa {
      margin-right: 5px;
      color: #fd880a; }
    .popular-listing-post .post-footer .schedule-info {
      text-align: right; }
      .popular-listing-post .post-footer .schedule-info h5 {
        margin-bottom: 0; }
    .popular-listing-post .post-footer .schedule-info.closed i.fa, .popular-listing-post .post-footer .schedule-info.closed h5 {
      color: #ff1f1f; }
    .popular-listing-post .post-footer .schedule-info.open i.fa, .popular-listing-post .post-footer .schedule-info.open h5 {
      color: #9dcb45; }
    .popular-listing-post .post-footer .schedule-info.expired i.fa, .popular-listing-post .post-footer .schedule-info.expired h5 {
      color: #fd880a; }

/* --- popular listing post two style --- */
.popular-listing-two-section {
  position: relative;
  padding: 80px 0 70px 0;
  background: url(../images/background/3.jpg) center center no-repeat; }
  .popular-listing-two-section .section-title h2, .popular-listing-two-section .section-title p {
    color: #fff; }
  .popular-listing-two-section .overlay {
    background: rgba(17, 17, 17, 0.9); }

.popular-post-two {
  margin-bottom: 30px; }
  .popular-post-two .overlay {
    background: rgba(17, 17, 17, 0.5); }
  .popular-post-two .listing-info p {
    line-height: 22px; }
  .popular-post-two .price-tag {
    position: absolute;
    bottom: 20px;
    left: 30px;
    z-index: 99; }
    .popular-post-two .price-tag p {
      margin-bottom: 0;
      color: #fff; }
  .popular-post-two .rating-area {
    right: 30px;
    left: auto; }
  .popular-post-two .meta-tag a {
    color: #fd880a; }
    .popular-post-two .meta-tag a:hover, .popular-post-two .meta-tag a:focus, .popular-post-two .meta-tag a:active {
      color: #fd880a; }
  .popular-post-two .address-info a {
    color: #fff; }

.map-marker-post {
  margin-bottom: 0; }
  .map-marker-post .post-meta {
    padding: 8px 10px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .map-marker-post .post-thumb {
    height: 90px; }
  .map-marker-post .schedule-info {
    display: inline-block;
    width: 50%;
    text-align: right; }
  .map-marker-post .schedule-info.closed {
    color: #ff1f1f; }

/*
|----------------------------------------------------------------------------
| 7. Team Style
|----------------------------------------------------------------------------
*/
.team-section {
  padding: 80px 0 100px 0; }

.team-member-thumb-outer {
  padding: 30px 20px;
  -webkit-box-shadow: 0px -6px 31px -6px rgba(222, 222, 222, 0.75);
  -moz-box-shadow: 0px -6px 31px -6px rgba(222, 222, 222, 0.75);
  box-shadow: 0px -6px 31px -6px rgba(222, 222, 222, 0.75); }

.team-member-block {
  text-align: center; }
  .team-member-block:hover .team-member-thumb ul {
    top: 50%;
    opacity: 1;
    visibility: visible; }
  .team-member-block:hover .overlay {
    opacity: 1;
    visibility: visible; }
  .team-member-block:hover .team-member-info {
    background: #fd880a;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .team-member-block:hover .team-member-info h4, .team-member-block:hover .team-member-info p {
      color: #fff; }

.team-member-thumb {
  position: relative;
  height: 180px;
  width: 180px;
  text-align: center;
  margin: 0 auto; }
  .team-member-thumb img {
    border-radius: 50%; }
  .team-member-thumb ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .team-member-thumb ul li {
      list-style: none;
      display: inline-block;
      margin: 0 8px; }
      .team-member-thumb ul li a {
        color: #fff;
        -webkit-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in; }
        .team-member-thumb ul li a:hover, .team-member-thumb ul li a:focus, .team-member-thumb ul li a:active {
          color: #111; }
  .team-member-thumb .overlay {
    border-radius: 50%;
    background: rgba(253, 136, 10, 0.7);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }

.team-member-info {
  padding: 25px 0 20px 0;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-box-shadow: 0px 2px 22px -9px rgba(101, 101, 101, 0.75);
  -moz-box-shadow: 0px 2px 22px -9px rgba(101, 101, 101, 0.75);
  box-shadow: 0px 2px 22px -9px rgba(101, 101, 101, 0.75); }
  .team-member-info h4, .team-member-info p {
    margin-bottom: 0;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
  .team-member-info p {
    font-size: 12px;
    line-height: 22px; }

/*
|----------------------------------------------------------------------------
| 8. Listing Catagory Style
|----------------------------------------------------------------------------
*/
.listing-catagory-section {
  -webkit-box-shadow: -80px -32px 44px -25px rgba(253, 136, 10, 0.75);
  -moz-box-shadow: -80px -32px 44px -25px rgba(253, 136, 10, 0.75);
  box-shadow: -80px -32px 44px -25px rgba(253, 136, 10, 0.75);
  position: relative; }

.listing-catagory-block {
  position: relative; }
  .listing-catagory-block:before, .listing-catagory-block:after {
    content: "\e041";
    font-size: 30px;
    color: #fff;
    position: absolute;
    z-index: 9;
    margin: 0 auto 0 auto;
    font-family: 'simple-line-icons';
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
  .listing-catagory-block:before {
    top: 30%;
    left: 0;
    right: 0;
    text-align: center; }
  .listing-catagory-block:after {
    top: 38%;
    left: 28px;
    right: 0;
    opacity: 0;
    visibility: hidden; }
  .listing-catagory-block:hover:before {
    opacity: 0;
    visibility: hidden; }
  .listing-catagory-block:hover:after {
    opacity: 1;
    visibility: visible; }
  .listing-catagory-block:hover .catagory-text {
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); }
    .listing-catagory-block:hover .catagory-text p {
      opacity: 1;
      visibility: visible; }
  .listing-catagory-block:hover .overlay {
    background: rgba(17, 17, 17, 0.9); }

.catagory-text {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: center;
  margin: 0 auto 0 auto;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .catagory-text h4, .catagory-text p {
    color: #fff;
    margin: 0; }
    .catagory-text h4 a:hover,
    .catagory-text h4 a:active,
    .catagory-text h4 a:focus, .catagory-text p a:hover,
    .catagory-text p a:active,
    .catagory-text p a:focus {
      color: #fff; }
  .catagory-text p {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }

/*
|----------------------------------------------------------------------------
| 9. Popular Cities Style
|----------------------------------------------------------------------------
*/
.popular-cities-section {
  padding-top: 80px; }

.popular-cities-block {
  position: relative;
  text-align: center;
  margin-bottom: 30px; }
  .popular-cities-block .overlay {
    background: rgba(0, 0, 0, 0.4); }
  .popular-cities-block h4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0;
    z-index: 9;
    color: #fff;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .popular-cities-block h4 a {
      -webkit-transition: 0.3s ease-in;
      -o-transition: 0.3s ease-in;
      transition: 0.3s ease-in; }
      .popular-cities-block h4 a:hover {
        color: #fd880a; }
  .popular-cities-block:hover h4 {
    top: 35%; }
  .popular-cities-block:hover .popular-cities-info-block {
    top: 45%;
    opacity: 1;
    visibility: visible; }

.popular-cities-info-block {
  position: absolute;
  top: 60%;
  z-index: 99;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .popular-cities-info-block p {
    margin-bottom: 0;
    color: #fff; }

/*
|----------------------------------------------------------------------------
| 10. Working Process Style
|----------------------------------------------------------------------------
*/
.working-process-section {
  position: relative;
  padding: 80px 0;
  background: url(../images/background/1.jpg) center center no-repeat; }
  .working-process-section .section-title h2, .working-process-section .section-title p {
    color: #fff; }

.working-process-block {
  text-align: center;
  padding: 50px;
  background: rgba(255, 255, 255, 0.2); }
  .working-process-block span[class^="ti-"] {
    font-size: 35px;
    color: #fd880a;
    margin-bottom: 25px;
    display: block; }
  .working-process-block h4 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 15px;
    color: #fff; }
  .working-process-block p {
    margin-bottom: 0;
    color: #fff;
    font-weight: 300; }

/*
|----------------------------------------------------------------------------
| 11. Listing Single Style
|----------------------------------------------------------------------------
*/
.subheader-two-block {
  position: relative;
  z-index: 99;
  text-align: center;
  margin-bottom: 90px; }
  .subheader-two-block .thumb {
    display: inline-block; }
    .subheader-two-block .thumb img {
      height: 100px;
      width: 100px;
      border-radius: 50%; }
  .subheader-two-block h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 40px; }
  .subheader-two-block p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #fff; }
  .subheader-two-block ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    position: relative; }
    .subheader-two-block ul li:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 10px;
      background: #fff;
      right: 0;
      top: 8px; }
    .subheader-two-block ul li:last-child:before {
      content: none; }
    .subheader-two-block ul li p {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 300; }

.single-post-section {
  margin: 30px 0; }

.single-post-meta-left {
  position: relative;
  z-index: 99;
  text-align: left; }
  .single-post-meta-left .rating-area {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    margin-right: 10px; }
  .single-post-meta-left .write-review {
    margin-left: 10px; }
    .single-post-meta-left .write-review a {
      color: #fff; }
  .single-post-meta-left .rating-area,
  .single-post-meta-left .write-review {
    display: inline-block; }

.single-post-meta-list {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 99; }
  .single-post-meta-list li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 10px; }
  .single-post-meta-list li.have-social-block {
    width: 200px;
    text-align: right; }
  .single-post-meta-list .bookmark-block {
    width: 50px;
    text-align: right; }
    .single-post-meta-list .bookmark-block a {
      color: #fff; }
    .single-post-meta-list .bookmark-block .bookmark:before {
      top: 0; }
  .single-post-meta-list .social-share-block {
    width: 100%;
    position: relative; }
  .single-post-meta-list .social-list {
    left: 0px; }
  .single-post-meta-list .icon-btn {
    width: 90px;
    height: 24px;
    border-radius: 0;
    font-size: 12px;
    line-height: 24px; }
  .single-post-meta-list .claim-btn {
    background: #9dcb45; }
  .single-post-meta-list .message-btn {
    background: #fd880a; }

.breadcrumb-call-to-action .tags {
  margin: 0 10px; }
  .breadcrumb-call-to-action .tags i.fa {
    height: 12px;
    width: 12px;
    margin-right: 3px;
    font-size: 8px;
    line-height: 12px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    vertical-align: middle; }

.breadcrumb-call-to-action .expensive i.fa {
  background: #fd880a; }

.breadcrumb-call-to-action .verified i.fa {
  background: #9dcb45; }

.custom-file::-webkit-file-upload-button {
  visibility: hidden; }

.custom-file::before {
  content: 'Browse';
  display: inline-block;
  background: transparent;
  border: 1px solid #e7e7e7;
  border-radius: 0px;
  padding: 3px 12px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color: #111;
  font-weight: 300;
  font-size: 12px;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }

.custom-file:hover::before {
  border-color: #fd880a; }

.custom-file::after {
  content: 'Select images';
  position: absolute;
  left: 90px;
  top: 4px;
  color: #111;
  width: 155px; }

.single-post .post-thumb {
  margin-bottom: 22px; }

.single-post .post-entry {
  margin-bottom: 25px; }

.single-post .facilities-block {
  padding: 22px 15px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75); }
  .single-post .facilities-block span {
    display: inline-block;
    margin: 0 15px;
    line-height: 28px; }
    .single-post .facilities-block span i.fa {
      margin-right: 3px; }

.single-post .faq-section {
  margin-bottom: 50px; }
  .single-post .faq-section .dropdown-toggle::after {
    content: none; }
  .single-post .faq-section .panel {
    margin-bottom: 10px; }
  .single-post .faq-section .panel-heading {
    padding: 17px 30px;
    position: relative;
    -webkit-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
    -moz-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
    box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75); }
    .single-post .faq-section .panel-heading h4 {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 14px;
      max-width: 100% !important; }
    .single-post .faq-section .panel-heading i.fa {
      position: absolute;
      right: 30px;
      top: 50%;
      -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
      transform: translateY(-7px); }
  .single-post .faq-section .panel-collapse {
    -webkit-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
    -moz-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
    box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75); }
  .single-post .faq-section .panel-body {
    padding: 12px 30px; }
    .single-post .faq-section .panel-body p {
      margin-bottom: 0;
      line-height: 30px;
      font-weight: 300; }

.listing-post-map {
  width: 100%; }

.video-gallary {
  height: 140px;
  width: 140px;
  position: relative;
  text-align: center;
  display: inline-block;
  margin-right: 22px;
  margin-bottom: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75); }
  .video-gallary .play-btn {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px); }
  .video-gallary i.fa {
    font-size: 45px;
    color: #fd880a; }

.review-section .review-title-block {
  padding: 13px 30px 6px 30px;
  -webkit-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75); }
  .review-section .review-title-block h4,
  .review-section .review-title-block .dropdown {
    display: inline-block; }
  .review-section .review-title-block h4 {
    width: 70%;
    font-size: 22px;
    margin-bottom: 0; }
  .review-section .review-title-block .dropdown {
    width: 29%;
    text-align: right; }
    .review-section .review-title-block .dropdown button {
      border: none;
      cursor: pointer; }
      .review-section .review-title-block .dropdown button:hover, .review-section .review-title-block .dropdown button:focus, .review-section .review-title-block .dropdown button:active {
        background: transparent;
        outline: 0;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .review-section .review-title-block .dropdown .dropdown-toggle:after {
      font-family: 'FontAwesome';
      content: "\f107";
      border: none;
      top: 8px;
      right: 7px;
      position: absolute; }
  .review-section .review-title-block .dropdown-menu {
    left: auto;
    right: 0; }

.listing-reviews {
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75); }
  .listing-reviews ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .listing-reviews ul li {
      padding: 30px; }
  .listing-reviews .avatar-block,
  .listing-reviews .review-content {
    display: inline-block;
    vertical-align: top;
    position: relative; }
    .listing-reviews .avatar-block .replay-btn,
    .listing-reviews .review-content .replay-btn {
      color: #fd880a;
      position: absolute;
      right: 0;
      top: 0; }
      .listing-reviews .avatar-block .replay-btn i.fa,
      .listing-reviews .review-content .replay-btn i.fa {
        margin-right: 3px; }
  .listing-reviews .avatar-block {
    text-align: left;
    width: 17%; }
    .listing-reviews .avatar-block img {
      height: 80px;
      width: 80px;
      margin-bottom: 10px;
      border-radius: 50%;
      display: inline-block; }
    .listing-reviews .avatar-block h4 {
      font-size: 22px;
      margin-bottom: 5px; }
    .listing-reviews .avatar-block p i.fa {
      margin-right: 5px;
      color: #fd880a; }
  .listing-reviews .review-content {
    width: 80%; }
    .listing-reviews .review-content h4 {
      font-weight: 600; }
    .listing-reviews .review-content .meta span {
      margin-right: 12px; }
      .listing-reviews .review-content .meta span i.fa {
        margin-right: 5px; }
  .listing-reviews .review-ratting {
    margin-bottom: 15px; }

.review-entry p {
  margin-bottom: 20px; }

.review-ratting span i.fa {
  color: #fd880a; }

.review-images-block .review-images {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px; }
  .review-images-block .review-images img {
    height: 100px;
    width: 135px;
    border-radius: 3px; }

.rate-review-block h5,
.rate-review-block .btn-group {
  display: inline-block;
  margin-bottom: 0; }

.rate-review-block h5 {
  margin-right: 20px; }

.rate-review-block .report-link {
  color: #ff1f1f; }
  .rate-review-block .report-link:hover, .rate-review-block .report-link:focus, .rate-review-block .report-link:active {
    color: #ff1f1f; }

.rate-btn.active {
  color: #fff;
  background: #9dcb45; }

.write-review-section .write-review-title {
  padding: 15px 30px;
  -webkit-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75); }
  .write-review-section .write-review-title h4 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0; }

.write-review-section .write-review-inner {
  padding: 30px;
  -webkit-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75); }

.write-review-section .write-review-inner > h4 {
  margin-bottom: 20px; }

.write-review-section .ratting-area .rating-stars ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  -moz-user-select: none;
  -webkit-user-select: none; }

.write-review-section .ratting-area .rating-stars ul > li.star {
  display: inline-block; }

.write-review-section .ratting-area .rating-stars ul > li.star > i.fa {
  font-size: 2.5em;
  color: #ccc; }

.write-review-section .ratting-area .rating-stars ul > li.star.hover > i.fa {
  color: rgba(253, 136, 10, 0.75); }

.write-review-section .ratting-area .rating-stars ul > li.star.selected > i.fa {
  color: #fd880a; }

.write-review-section .form-common {
  margin-bottom: 0;
  width: 60%; }
  .write-review-section .form-common .ratting-area {
    margin-left: -8px; }
  .write-review-section .form-common .form-group {
    margin-bottom: 23px; }
    .write-review-section .form-common .form-group input.form-control:focus {
      border-color: #fd880a; }
  .write-review-section .form-common textarea {
    resize: none; }
    .write-review-section .form-common textarea:focus {
      border-color: #fd880a; }
  .write-review-section .form-common .textarea-form-group {
    margin-bottom: 30px; }
  .write-review-section .form-common .filetype-form-group {
    margin-bottom: 20px; }

/*
|----------------------------------------------------------------------------
| 12. Widgets Style
|----------------------------------------------------------------------------
*/
.sidebar .widget {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75); }
  .sidebar .widget span {
    font-size: 12px; }

.sidebar .widget-body {
  padding: 25px 30px 25px 30px; }

.widget.map-widget {
  margin-bottom: 0; }

.contact-widget {
  padding: 25px 30px 13px 30px; }
  .contact-widget p {
    margin-bottom: 12px;
    line-height: 20px; }
    .contact-widget p i.fa {
      display: inline-block;
      width: 15px;
      vertical-align: top;
      line-height: 20px; }
    .contact-widget p span {
      display: inline-block;
      width: calc(100% - 25px); }
  .contact-widget ul.social {
    margin: 5px 0 15px 0; }
    .contact-widget ul.social li {
      margin: 0 4px 0 0; }
      .contact-widget ul.social li a {
        width: 30px;
        height: 30px;
        border: 1px solid #fd880a;
        border-radius: 50%;
        color: #111;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        -webkit-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in; }
        .contact-widget ul.social li a:hover {
          color: #fd880a; }

.widget-title {
  padding: 18px 30px;
  position: relative;
  -webkit-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75); }
  .widget-title h5 {
    margin-bottom: 0;
    font-weight: 600; }

.businesshours-widget .widget-body {
  padding-bottom: 20px; }

.businesshours-widget .current-schedule {
  position: absolute;
  top: 18px;
  right: 20px;
  color: #9dcb45; }

.businesshours-widget .current-schedule.lt-clo {
  color: #ff1f1f; }

.businesshours-widget .hrs-row {
  clear: both;
  width: 100%;
  display: inline-block; }
  .businesshours-widget .hrs-row .day {
    float: left;
    line-height: 20px; }
  .businesshours-widget .hrs-row .hours {
    float: right;
    line-height: 20px; }

.ad-widget {
  padding: 10px; }

.othersinfo-widget .widget-body {
  padding-bottom: 15px; }

.othersinfo-widget .othersinfo-row {
  clear: both;
  width: 100%;
  display: inline-block; }
  .othersinfo-widget .othersinfo-row .left-info {
    float: left; }
  .othersinfo-widget .othersinfo-row .right-info {
    float: right; }
  .othersinfo-widget .othersinfo-row a {
    color: #fd880a; }

.contact-form-wdiget .form-common {
  margin-bottom: 0; }
  .contact-form-wdiget .form-common .form-group input.form-control {
    padding-left: 20px; }
  .contact-form-wdiget .form-common textarea {
    resize: none; }
  .contact-form-wdiget .form-common .listing-btn-large {
    width: 100%; }

.widget.listingpost-widget {
  -webkit-box-shadow: none;
  box-shadow: none; }

.author-widget {
  text-align: center; }
  .author-widget .thumb img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px; }
  .author-widget .info {
    margin-bottom: 10px; }
    .author-widget .info h4 {
      margin-bottom: 0;
      font-weight: 600; }
  .author-widget .btn-group a {
    margin: 0 5px; }

.author-widget-body {
  padding: 20px 0; }

/*
|----------------------------------------------------------------------------
| 13. Single Style
|----------------------------------------------------------------------------
*/
blockquote {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  padding: 30px;
  background: rgba(0, 0, 0, 0.34); }

/*
|----------------------------------------------------------------------------
| 14. Testimonial Style
|----------------------------------------------------------------------------
*/
.testimonial-section {
  padding: 36px 0 160px 0; }
  .testimonial-section .bx-prev, .testimonial-section .bx-next {
    display: none; }

.testimonial-slider .item {
  text-align: center; }
  .testimonial-slider .item h4 {
    font-size: 22px;
    color: #fd880a;
    margin-bottom: 13px; }
  .testimonial-slider .item p {
    font-weight: 300; }
  .testimonial-slider .item .quetoe-author-block h4 {
    font-size: 18px;
    margin-bottom: 0; }
  .testimonial-slider .item .quetoe-author-block p {
    margin-bottom: 0; }

.testimonial-section .bx-wrapper {
  padding: 30px 35px;
  -webkit-box-shadow: -1px 2px 19px -2px rgba(195, 194, 194, 0.75);
  box-shadow: -1px 2px 19px -2px rgba(195, 194, 194, 0.75); }

.testimonial-section .bx-pager.bx-custom-pager .bx-pager-item {
  margin: 0 10px; }
  .testimonial-section .bx-pager.bx-custom-pager .bx-pager-item .bx-pager-link {
    position: relative; }
    .testimonial-section .bx-pager.bx-custom-pager .bx-pager-item .bx-pager-link img {
      position: relative;
      z-index: 999; }
  .testimonial-section .bx-pager.bx-custom-pager .bx-pager-item .bx-pager-link.active:before {
    content: "\f043";
    position: absolute;
    top: 25px;
    left: -4px;
    z-index: 9;
    color: #fd880a;
    font-size: 127px;
    font-family: 'FontAwesome'; }
  .testimonial-section .bx-pager.bx-custom-pager .bx-pager-item img {
    height: 65px;
    width: 65px;
    border-radius: 50%; }

.testimonial-section .bx-wrapper .bx-pager,
.testimonial-section .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -120px;
  width: 100%;
  left: 0; }

/*
|----------------------------------------------------------------------------
| 15. Call to action Style
|----------------------------------------------------------------------------
*/
.call-to-action-section {
  text-align: center;
  padding: 70px 0 90px 0;
  background: #f7f7f7; }
  .call-to-action-section h2 {
    line-height: 45px;
    margin-bottom: 10px; }
  .call-to-action-section .btn-group {
    margin: 0; }
  .call-to-action-section .icon-btn {
    margin: 10px 15px; }

/*
|----------------------------------------------------------------------------
| 16. Working Map Style
|----------------------------------------------------------------------------
*/
.working-map-section {
  padding: 100px 0 0 0; }

.working-map-block {
  margin-bottom: 80px; }

.working-map-information {
  margin-top: 30px; }
  .working-map-information h2 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 600; }
  .working-map-information p {
    font-weight: 300; }

.owners-menual-section,
.visitors-menual-section {
  padding-bottom: 80px; }
  .owners-menual-section .section-title h2,
  .visitors-menual-section .section-title h2 {
    font-weight: 600; }

.owners-menual-section {
  padding-bottom: 100px; }

.menual-block {
  text-align: center;
  padding: 30px;
  background: #fd880a; }
  .menual-block span[class^="ti-"] {
    font-size: 35px;
    color: #fff;
    display: block;
    margin-bottom: 22px; }
  .menual-block p {
    margin-bottom: 0;
    font-size: 18px; }
    .menual-block p a {
      color: #fff; }

/*
|----------------------------------------------------------------------------
| 17. Pricing Style
|----------------------------------------------------------------------------
*/
.packages-section {
  padding: 100px 0; }

.pricing-block {
  padding: 35px 0 60px 0;
  text-align: center;
  -webkit-box-shadow: 0px 0px 29px -1px rgba(224, 224, 224, 0.63);
  -moz-box-shadow: 0px 0px 29px -1px rgba(224, 224, 224, 0.63);
  box-shadow: 0px 0px 29px -1px rgba(224, 224, 224, 0.63); }
  .pricing-block .pricing-heading {
    font-size: 18px; }
  .pricing-block .price-block {
    padding: 18px 0;
    background: #111; }
    .pricing-block .price-block h4 {
      color: #fff;
      margin-bottom: 0; }
  .pricing-block .packages {
    padding: 30px 0 45px 0; }
    .pricing-block .packages p {
      margin-bottom: 10px; }

.pricing-block.standard .pricing-btn,
.pricing-block.standard .price-block {
  background: #fd880a; }

.pricing-block.standard .pricing-btn {
  color: #fff;
  border-color: #fd880a;
  background: #fd880a; }

/*
|----------------------------------------------------------------------------
| 18. Form Style
|----------------------------------------------------------------------------
*/
.user-form-block {
  padding: 100px 0; }

.form-control:focus {
  border-color: #e7e7e7; }

select.form-control:not([size]):not([multiple]) {
  height: auto; }

textarea {
  resize: none; }

.form-common {
  margin-bottom: 20px; }
  .form-common .form-group {
    margin: 0 0 10px 0; }
    .form-common .form-group label {
      font-size: 14px;
      line-height: 23px;
      font-weight: 600;
      color: #111; }
    .form-common .form-group .form-control {
      height: auto;
      font-size: 12px;
      padding: 13px 0 13px 30px;
      border-radius: 3px;
      border: 1px solid #e7e7e7;
      background: transparent; }
  .form-common .custom-control-indicator {
    border-radius: 0;
    background: transparent;
    border: 1px solid #e7e7e7; }
  .form-common .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #fd880a; }
  .form-common .custom-control-input:focus ~ .custom-control-indicator {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .form-common .forgot-link-block {
    text-align: right;
    width: 100%; }
    .form-common .forgot-link-block a {
      font-weight: 600; }
  .form-common .form-btn-block {
    width: 100%; }
  .form-common .form-check-row {
    margin-bottom: 3px; }

.registration-form-block {
  padding: 50px;
  -webkit-box-shadow: 0px 0px 29px -1px rgba(224, 224, 224, 0.63);
  -moz-box-shadow: 0px 0px 29px -1px rgba(224, 224, 224, 0.63);
  box-shadow: 0px 0px 29px -1px rgba(224, 224, 224, 0.63); }

.registration-form-title {
  text-align: center; }
  .registration-form-title h4 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px; }

.signin-others-option-block {
  text-align: center; }
  .signin-others-option-block h5 {
    font-weight: 600;
    margin-bottom: 50px; }
    .signin-others-option-block h5 a {
      color: #fd880a; }
      .signin-others-option-block h5 a:hover, .signin-others-option-block h5 a:focus, .signin-others-option-block h5 a:active {
        color: #fd880a; }
  .signin-others-option-block p {
    font-weight: 600;
    margin-bottom: 8px; }

/*-- additionalInfo styling ---*/
.additionalinfo-toggle-switch input[type="checkbox"] {
  display: none; }

.additionalinfo-toggle-switch label {
  font-weight: 300 !important;
  position: relative;
  padding-right: 50px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  color: #111; }

.additionalinfo-toggle-switch label:before {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  height: 20px;
  width: 40px;
  background: #e7e7e7;
  content: "";
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.additionalinfo-toggle-switch input[type="checkbox"]:checked + label:before {
  background: #fd880a; }

.additionalinfo-toggle-switch input[type="checkbox"]:checked + label:after {
  right: 3px; }

.additionalinfo-toggle-switch label:after {
  position: absolute;
  top: 3px;
  right: 22px;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  background: #fff;
  content: "";
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.filter-form .form-group {
  display: inline-block;
  width: 220px; }

/*
|----------------------------------------------------------------------------
| 19. Map Style
|----------------------------------------------------------------------------
*/
.add-listing-map {
  height: 190px;
  margin-bottom: 25px; }

.map-widget {
  height: 220px;
  width: 100%; }

.map-full-width-one {
  height: 350px; }

.listing-map-block {
  height: 350px; }

.infoBox > img {
  position: absolute !important;
  top: 5px;
  right: 5px;
  z-index: 1; }

.infoBox .map-marker-post {
  border-radius: 3px;
  background-color: #ffffff;
  overflow: hidden;
  display: block; }
  .infoBox .map-marker-post .post-thumb {
    display: block; }
  .infoBox .map-marker-post .listing-info {
    top: 2px;
    left: 10px; }
    .infoBox .map-marker-post .listing-info h4 {
      font-size: 12px; }
  .infoBox .map-marker-post .rating-area {
    color: #fd880a;
    bottom: 8px;
    left: 10px;
    font-size: 7px; }
  .infoBox .map-marker-post .post-details {
    display: block;
    padding: 5px 10px; }
    .infoBox .map-marker-post .post-details .fa {
      color: #fd880a;
      margin-right: 7px; }

.cluster-marker {
  position: absolute;
  font-size: 25px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  height: 90px;
  width: 70px;
  z-index: 999;
  font-weight: 700;
  background: url(../images/markerholder.png); }

/*
|----------------------------------------------------------------------------
| 20. Listing Map Style
|----------------------------------------------------------------------------
*/
.listing-map-block-fullwrap {
  padding-top: 100px; }

.outer-select-field {
  position: relative; }

.outer-select-input-box {
  padding-left: 105px;
  height: 45px;
  width: 210px; }

.input-dropedown-btn {
  position: absolute;
  left: 9px;
  top: 9px;
  height: 65%; }

.full-width .filter-form .form-group {
  width: 285px; }

.full-width .outer-select-input-box {
  width: 270px; }

.full-width .inner-row .form-group {
  width: 58%;
  text-align: right; }

.listing-advance-filter.collapse {
  display: none; }

.listing-advance-filter.collapse.show {
  display: block; }

.filter-form {
  position: relative;
  padding: 35px 0 40px 0;
  margin-bottom: 0; }
  .filter-form .success-btn,
  .filter-form .danger-btn {
    height: 45px; }
  .filter-form .btn-group {
    position: absolute;
    top: 35px;
    right: 0;
    margin: 0; }
    .filter-form .btn-group button {
      margin: 0 8px;
      cursor: pointer; }
  .filter-form .inner-row {
    margin-top: 15px;
    margin-top: 10px; }
    .filter-form .inner-row .range-input-block,
    .filter-form .inner-row .listing-filter-options-block {
      display: inline-block; }
    .filter-form .inner-row .range-input-block {
      width: 41%; }
    .filter-form .inner-row .form-control {
      width: 22%;
      margin: 0 8px;
      display: inline-block; }
    .filter-form .inner-row .form-control.last-item {
      margin-right: 0; }

.range-input-block {
  /*hide the outline behind the border*/ }
  .range-input-block input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    /*required for proper track sizing in FF*/
    width: 390px; }
  .range-input-block input[type=range]::-webkit-slider-runnable-track {
    width: 390px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px; }
  .range-input-block input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #fd880a;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
    margin-top: -4px; }
  .range-input-block input[type=range]:focus {
    outline: none; }
  .range-input-block input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc; }
  .range-input-block input[type=range]::-moz-range-track {
    width: 390px;
    height: 5px;
    background: #e7e7e7;
    border: none;
    border-radius: 0px; }
  .range-input-block input[type=range]::-moz-range-thumb {
    border: 2px solid #fd880a;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff; }
  .range-input-block input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px; }
  .range-input-block input[type=range]::-ms-track {
    width: 390px;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent; }
  .range-input-block input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px; }
  .range-input-block input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px; }
  .range-input-block input[type=range]::-ms-thumb {
    border: 2px solid #fd880a;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff; }
  .range-input-block input[type=range]:focus::-ms-fill-lower {
    background: #888; }
  .range-input-block input[type=range]:focus::-ms-fill-upper {
    background: #ccc; }

@-moz-document url-prefix() {
  .listing-map-half .filter-form .inner-row .range-input-block input[type="range"] {
    width: 43% !important; }
  .listing-map-half .filter-form .inner-row .range-input-block {
    width: 100% !important;
    margin-bottom: 20px; } }

.option-with-icon {
  font-family: FontAwesome, sans-serif; }

.listing-filter-service-select-block h4, .listing-filter-service-select-block .form-check {
  display: inline-block;
  margin-right: 20px; }

.listing-filter-service-select-block .custom-control-description {
  font-size: 12px;
  color: #111;
  line-height: 26px; }

/*-- search result section --*/
.serach-result-section {
  padding: 0 0 100px 0; }
  .serach-result-section .serach-result-section-title {
    margin-bottom: 30px; }
    .serach-result-section .serach-result-section-title h4 {
      margin-bottom: 0; }
  .serach-result-section .popular-listing-post {
    margin-bottom: 30px; }

.serach-result-section-inner {
  padding: 50px 0 70px 0; }

.item.list-group-item {
  float: none;
  width: 100%;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
  display: block;
  padding: 0 15px;
  border: none;
  margin-bottom: 30px; }
  .item.list-group-item .post-thumb {
    width: 40%;
    display: inline-block; }
  .item.list-group-item .post-details {
    width: 58%;
    display: inline-block;
    vertical-align: top; }
  .item.list-group-item .popular-listing-post {
    margin-bottom: 0; }
    .item.list-group-item .popular-listing-post .post-entry-block {
      padding: 20px 20px; }
  .item.list-group-item .post-entry-block .post-author {
    width: 10%; }
  .item.list-group-item .post-entry-block .post-entry {
    width: 88%;
    vertical-align: top; }

.grid-controll-block button {
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .grid-controll-block button:hover, .grid-controll-block button:active, .grid-controll-block button:focus {
    outline: 0;
    color: #fd880a; }

/*--- listing map left and right align --*/
.listing-map-container {
  position: relative;
  height: 100%;
  width: 100%; }

.listing-map-half .filter-form {
  padding-left: 15px;
  padding-right: 15px; }

.listing-map-half .listing-map-holder {
  width: calc(100% - 950px);
  height: 100vh;
  position: fixed;
  top: 0;
  display: inline-block; }

.listing-map-half .listing-map-container {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 990;
  margin-bottom: 0px; }

.listing-map-half .listing-map-block {
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 990; }

.listing-map-half .listing-filter-wrap {
  width: 950px;
  display: inline-block; }

.listing-map-half .filter-form .inner-row .range-input-block {
  width: 34%; }

.listing-map-half .filter-form .inner-row .form-group {
  width: 65%; }

.listing-map-half .filter-form .inner-row .range-input-block input[type=range] {
  width: 250px; }

.listing-map-half .popular-listing-post .post-footer {
  padding: 10px 15px; }
  .listing-map-half .popular-listing-post .post-footer h5 {
    font-size: 12px; }

.listing-map-left .listing-map-holder {
  float: left; }

.listing-map-left .listing-map-container {
  left: 0; }

.listing-map-left .listing-filter-wrap {
  float: right; }

.listing-map-right .listing-map-holder {
  float: right; }

.listing-map-right .listing-map-container {
  left: auto;
  right: 0; }

.listing-map-right .listing-filter-wrap {
  float: left; }

.listing-copy-right {
  color: #fff;
  margin-bottom: 0;
  padding: 15px 80px;
  background: #262626; }
  .listing-copy-right a {
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .listing-copy-right a:hover, .listing-copy-right a:focus, .listing-copy-right a:active {
      color: #fd880a; }

/*
|----------------------------------------------------------------------------
| 21. Add listing Style
|----------------------------------------------------------------------------
*/
input::-webkit-input-placeholder {
  color: rgba(17, 17, 17, 0.44); }
input:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.44); }
input::-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.44); }
input::placeholder {
  color: rgba(17, 17, 17, 0.44); }

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(17, 17, 17, 0.44); }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(17, 17, 17, 0.44); }

input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(17, 17, 17, 0.44); }

input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(17, 17, 17, 0.44); }

.form-single-element {
  margin-bottom: 10px; }

.add-listing-form.form-common .form-group {
  margin: 0 0 17px 0; }
  .add-listing-form.form-common .form-group label {
    font-weight: 400; }

.add-listing-form.form-common .form-group.listing-price {
  margin: 32px 0 0 0; }

.add-listing-form.form-common .promotional-video-block {
  margin-bottom: 5px; }

.add-listing-form.form-common .social-profile-block {
  margin-bottom: 10px; }

.add-listing-tost-block p {
  margin-bottom: 0;
  padding: 24px 30px; }
  .add-listing-tost-block p a {
    color: #fd880a;
    font-wwight: 300; }

.listing-block {
  padding: 27px 30px 13px 30px;
  border-radius: 3px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 1px 11px -1px rgba(216, 216, 216, 0.75); }

.listing-block > h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 35px; }

.businessinfo-right-block {
  padding-top: 30px; }

.listing-price {
  margin-top: 30px; }

.listing-features-block,
.listing-additionalinfo-block {
  padding-top: 5px; }
  .listing-features-block table,
  .listing-additionalinfo-block table {
    width: 100%;
    table-layout: fixed; }

.listing-features-block > h5,
.listing-additionalinfo-block {
  margin-bottom: 10px; }

.add-listing-form.form-common .listing-features-block .form-group label,
.add-listing-form.form-common .listing-additionalinfo-block .form-group label {
  font-size: 12px;
  margin-bottom: 2px; }

.add-listing-form.form-common .listing-features-block .custom-control-input:checked ~ .custom-control-indicator,
.add-listing-form.form-common .listing-businesshour-block .custom-control-input:checked ~ .custom-control-indicator {
  background-color: #f51d46;
  border-color: #f51d46; }

.add-listing-form.form-common .form-group-file-type label {
  width: 175px;
  font-weight: 600;
  font-size: 12px; }

.add-listing-form.form-common .attach-document-listing .form-group-file-type input {
  width: 265px; }

.add-listing-form.form-common .attach-document-listing .form-group-file-type label {
  width: 225px; }

.add-listing-form.form-common .prview-listing .form-group {
  margin-bottom: 30px; }

.listing-businesshour-block {
  padding-top: 5px;
  padding-bottom: 5px; }

.listing-businesshour-block > h5 {
  margin-bottom: 15px; }

.multiple-label-checkbox-block p,
.multiple-label-checkbox-block label {
  display: inline-block; }

.multiple-label-checkbox-block p {
  margin-right: 35px;
  margin-bottom: 5px; }
  .multiple-label-checkbox-block p strong {
    width: 125px;
    display: inline-block; }
  .multiple-label-checkbox-block p b {
    width: 50px;
    text-align: center;
    display: inline-block; }

.multiple-label-checkbox-block .custom-control {
  margin-bottom: 0; }

.form-group-file-type label, .form-group-file-type input, .form-group-file-type span {
  display: inline-block;
  font-size: 12px; }

.form-group-file-type input {
  width: 180px; }

.prview-listing .text-center {
  margin-bottom: 25px; }

.prview-listing button[type="submit"] {
  margin: 0 auto 16px auto;
  display: block; }

.listing-compose-block .mce-tinymce.mce-container.mce-panel {
  padding-top: 0;
  border-color: #e7e7e7; }

.listing-compose-block .mce-panel {
  background: #f7f7f7;
  border-color: #e7e7e7; }

.listing-compose-block .mce-btn {
  background: transparent; }

.listing-compose-block .mce-btn-group:not(:first-child) {
  border-color: transparent; }

.listing-compose-block .mce-branding-powered-by {
  display: none; }

.listing-compose-block .mce-resizehandle,
.listing-compose-block .mce-statusbar.mce-last {
  display: none; }

/*
|----------------------------------------------------------------------------
| 22. Pagination Style
|----------------------------------------------------------------------------
*/
.pagination {
  text-align: center;
  display: block; }
  .pagination .page-numbers {
    padding: 10px 20px;
    margin: 0 8px;
    border: 1px solid #e7e7e7;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .pagination .page-numbers:hover {
      background: #fd880a;
      color: #fff; }
  .pagination .page-numbers.current {
    padding: 14px 20px;
    background: #fd880a;
    color: #fff; }

/*
|----------------------------------------------------------------------------
| 23. Contact Style
|----------------------------------------------------------------------------
*/
.contact-section .contact-widget {
  padding: 0; }
  .contact-section .contact-widget p {
    margin-bottom: 28px; }
    .contact-section .contact-widget p span {
      width: calc(100% - 70px); }
    .contact-section .contact-widget p i.fa {
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      margin-right: 10px;
      background: #fd880a; }
  .contact-section .contact-widget p.last-type {
    margin-bottom: 20px; }
  .contact-section .contact-widget ul.social {
    margin: 0; }
    .contact-section .contact-widget ul.social li {
      margin: 0 10px 0 0; }
      .contact-section .contact-widget ul.social li a {
        border: none;
        height: auto;
        width: auto;
        font-size: 14px; }

.contactinfo-block > h4 {
  font-weight: 600;
  margin-bottom: 25px; }

.input-success {
  margin-top: 10px;
  background-color: #16a085;
  color: #fff;
  padding: 3px 15px;
  display: none; }

.input-error {
  margin-top: 10px;
  background-color: #e74c3c;
  color: #fff;
  padding: 3px 15px;
  display: none; }

/*
|----------------------------------------------------------------------------
| 24. 404 Style
|----------------------------------------------------------------------------
*/
.main-wrap-404 {
  padding: 220px 0 160px 0; }

.content-404 {
  width: 322px;
  margin: 0 auto 25px auto; }
  .content-404 h3 {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 32px; }
  .content-404 .danger-btn {
    width: 210px; }
    .content-404 .danger-btn i.fa {
      font-weight: 700;
      margin-right: 5px; }

.content-wrap-404 {
  position: relative; }
  .content-wrap-404 .text-404 {
    position: absolute;
    left: -32px;
    top: 45px; }
    .content-wrap-404 .text-404:before {
      position: absolute;
      left: -53px;
      top: -82px;
      content: url("../images/misc/8.png"); }
    .content-wrap-404 .text-404 h2 {
      position: relative;
      font-size: 66px;
      color: #fff;
      z-index: 99;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase; }
      .content-wrap-404 .text-404 h2 span {
        font-size: 28px; }

/*
|----------------------------------------------------------------------------
| 25. Dashboard Style
|----------------------------------------------------------------------------
*/
.dashboard .listing-reviews {
  margin-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.dashboard .listing-reviews ul li {
  padding: 0;
  padding: 25px 0; }

.dashboard .breadcrumb-block {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 10px; }

.dashboard .popular-listing-post .post-footer {
  padding: 10px 20px; }

.dashboard .navbar {
  background: black; }

.dashboard .lobipanel > .panel-heading .dropdown .dropdown-menu {
  opacity: 1;
  visibility: visible; }

.box-widget {
  background: #fff;
  border: 1px solid transparent;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0px 20px -2px rgba(197, 197, 197, 0.75);
  -moz-box-shadow: 0 0px 20px -2px rgba(197, 197, 197, 0.75);
  box-shadow: 0 0px 20px -2px rgba(197, 197, 197, 0.75); }

.bfh-selectbox-options ul li:first-child {
  display: none; }

/*--- Pannel Style ---*/
.lobipanel {
  margin-bottom: 0; }

.panel {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0; }

.panel-body {
  padding: 30px; }

.chats-panel-body {
  padding: 30px 20px; }

.activity-panel-body {
  padding-top: 50px; }

.panel.panel-default > .panel-heading,
.panel > .panel-heading {
  background: #f7f7f7;
  padding: 10px 5px;
  border-bottom: 1px solid transparent; }

.lobipanel > .panel-heading > .panel-title,
.panel-title h4 {
  font-size: 18px;
  font-weight: 400;
  color: #111; }

.lobipanel.panel-unpin,
.lobipanel.panel-expanded {
  background: #fff; }

.lobipanel .panel-heading .dropdown .dropdown-menu > li > a:focus:hover,
.lobipanel .panel-heading .dropdown .dropdown-menu > li > a:hover {
  text-shadow: none;
  background: transparent; }

.nmbr-statistic-block {
  padding: 30px 30px 30px 30px;
  min-height: 170px;
  position: relative; }
  .nmbr-statistic-block:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #e7e7e7;
    top: 50%;
    left: 0;
    position: absolute; }
  .nmbr-statistic-block .nmbr-statistic-icon {
    position: absolute;
    color: #fff;
    font-size: 30px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    text-align: center;
    line-height: 47px;
    border: 5px solid #fff;
    background: #fd880a;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    top: 50%;
    left: 10px;
    -webkit-box-shadow: 0px 0px 0px 1px #e7e7e7;
    -moz-box-shadow: 0px 0px 0px 1px #e7e7e7;
    box-shadow: 0px 0px 0px 1px #e7e7e7; }
  .nmbr-statistic-block .a-meta-title {
    font-size: 18px;
    font-weight: 400; }
    .nmbr-statistic-block .a-meta-title .highlight-text {
      width: 45px;
      padding: 3px 5px;
      font-size: 14px;
      color: #fff;
      border-radius: 10px;
      margin-left: 8px; }
  .nmbr-statistic-block .number {
    display: block;
    font-size: 40px;
    margin-bottom: 48px;
    font-weight: 300; }
  .nmbr-statistic-block .nmbr-statistic-info {
    position: absolute;
    left: 25%;
    top: 32px; }

.user-statistic .highlight-text {
  background: #fd880a; }

.visitors-statistic .highlight-text {
  background: #fd880a; }

.sales-statistic .highlight-text {
  background: #f51d46; }

.Subscribers-statistic .highlight-text {
  background: #7fba00; }

.dashBoard-section-2 {
  display: inline-block;
  width: 100%; }

.activity-list {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none; }
  .activity-list:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0;
    bottom: -23px;
    background: #e7e7e7; }
  .activity-list li {
    position: relative;
    padding-left: 27px;
    margin-bottom: 30px; }
    .activity-list li:before {
      position: absolute;
      content: '';
      height: 12px;
      width: 12px;
      background: #fff;
      border: 1px solid #fff;
      border-radius: 50%;
      left: -5px;
      top: 6px; }
    .activity-list li:last-child {
      margin-bottom: 0; }
  .activity-list li.primary:before {
    background: #fd880a;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(94, 183, 255, 0.3);
    -moz-box-shadow: 0px 0px 0px 5px rgba(94, 183, 255, 0.3);
    box-shadow: 0px 0px 0px 5px rgba(94, 183, 255, 0.3); }
  .activity-list li.warning:before {
    background: #f51d46;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 121, 121, 0.3);
    -moz-box-shadow: 0px 0px 0px 5px rgba(255, 121, 121, 0.3);
    box-shadow: 0px 0px 0px 5px rgba(255, 121, 121, 0.3); }
  .activity-list li.success:before {
    background: #9dcb45;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(131, 233, 210, 0.3);
    -moz-box-shadow: 0px 0px 0px 5px rgba(131, 233, 210, 0.3);
    box-shadow: 0px 0px 0px 5px rgba(131, 233, 210, 0.3); }
  .activity-list li.warning-two:before {
    background: #fd880a;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 206, 46, 0.3);
    -moz-box-shadow: 0px 0px 0px 5px rgba(255, 206, 46, 0.3);
    box-shadow: 0px 0px 0px 5px rgba(255, 206, 46, 0.3); }
  .activity-list li span {
    font-size: 14px;
    color: #808080; }
  .activity-list li p {
    margin-bottom: 0; }

/*------ vertical menu style and settings -------*/
body.dashboard {
  overflow-x: hidden !important; }

.page-container-wrap {
  width: calc(100% - 260px);
  margin-left: 0;
  position: relative;
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(250px, 0, 0);
  top: 120px; }

.cbp-spmenu {
  background: #fff;
  position: fixed;
  top: 95px;
  height: 100%;
  z-index: 999;
  width: 240px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: 11px 1px 22px -9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 11px 1px 22px -9px rgba(0, 0, 0, 0.2);
  box-shadow: 11px 1px 22px -9px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }

.cbp-spmenu.nav-affix {
  top: 70px; }

/* Push classes applied to the body */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0; }

/*----- slide-menu style -----*/
.accordion-menu ul {
  margin-bottom: 0; }

.user-profile-block {
  padding: 30px 25px;
  display: table;
  position: relative;
  background-size: cover;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  text-align: center; }
  .user-profile-block .listing-btn-cmn {
    margin: 0 auto; }
  .user-profile-block div {
    display: inline-block;
    position: relative;
    z-index: 999;
    text-align: left;
    margin-bottom: 10px; }
  .user-profile-block .user-thumb {
    display: table-cell;
    padding-right: 15px; }
    .user-profile-block .user-thumb img {
      height: 70px;
      width: 70px;
      border-radius: 50%; }
  .user-profile-block .user-info {
    display: table-cell;
    vertical-align: middle;
    padding-top: 18px; }
    .user-profile-block .user-info span, .user-profile-block .user-info h5 {
      margin: 0;
      color: #111; }
    .user-profile-block .user-info span {
      font-weight: 300; }

.slide-navigation-wrap {
  position: relative; }

.slide-navigation-wrap.open:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.05); }

.slide-navigation-wrap.open .menu-icon-wrap.bullet:after {
  content: '';
  width: 50px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.05); }

[data-control], [data-content] > * {
  border: none;
  padding: 0; }

[data-accordion] [data-control] {
  position: relative;
  padding-right: 40px; }

.has-sub + .menu-content,
.nav-item.has-sub {
  background: #fff; }

.nav-item {
  cursor: pointer; }
  .nav-item a {
    padding: 18px 0px 18px 75px;
    line-height: 24px;
    font-weight: 300;
    color: #111;
    position: relative; }
    .nav-item a:focus, .nav-item a:active {
      color: #111; }
  .nav-item:hover {
    color: white; }
    .nav-item:hover .icon {
      color: #ffce2f; }
    .nav-item:hover .menu-icon-wrap.bullet:before {
      background: #ffce2f; }
    .nav-item:hover a {
      color: #111; }

.menu-icon-wrap {
  width: 50px;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 55px;
  text-align: center;
  font-size: 18px;
  color: #fd880a;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.menu-icon-wrap.bullet:before {
  content: ' ';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgba(255, 206, 47, 0.4);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.nav-item.has-sub.active .icon {
  color: #fd880a; }

.nav-item.has-sub.active a {
  color: #111; }

[data-accordion] > [data-control]:after {
  content: "\f105";
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  transform: translateY(-12px);
  font-size: 16px;
  font-family: 'FontAwesome';
  color: black;
  background: none; }

[data-accordion].open > [data-control]:after {
  content: "\f107";
  -webkit-transform: translateY(-12px) rotate(0);
  -ms-transform: translateY(-12px) rotate(0);
  transform: translateY(-12px) rotate(0); }

.menu-badge {
  width: 28px;
  height: 18px;
  border-radius: 10px;
  position: absolute;
  right: 16px;
  top: 50%;
  text-align: center;
  line-height: 19px;
  font-size: 14px;
  color: #ffffff;
  z-index: 99;
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  background: #fd880a; }

.basic-table-block table {
  margin-bottom: 0; }

.basic-table-block .table thead th {
  border-bottom: none; }

.basic-table-block .payment,
.basic-table-block .premium,
.basic-table-block .done,
.basic-table-block .free,
.basic-table-block .no {
  padding: 3px;
  border-radius: 5px; }

.basic-table-block .payment {
  background: #fd880a;
  color: #fff; }

.basic-table-block .premium {
  background: #ff1f1f;
  color: #fff; }

.basic-table-block .done {
  background: #9dcb45;
  color: #fff; }

.basic-table-block .free,
.basic-table-block .no {
  background: #e7e7e7;
  color: #444; }

.listing-message ul li {
  position: relative; }

.listing-message .unread-message-sticky {
  font-weight: 300;
  padding: 0 3px;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  margin-left: 10px;
  background: #9dcb45; }

.listing-message .message-post-duration {
  color: #244b90;
  font-size: 12px;
  font-weight: 300; }

.listing-message .message-meta {
  position: absolute;
  top: 20px;
  right: 0; }
  .listing-message .message-meta a {
    margin: 0 8px; }
    .listing-message .message-meta a i.fa {
      font-size: 18px; }

.listing-message .see-message-btn {
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .listing-message .see-message-btn:hover {
    color: #9dcb45; }

.listing-message .delete-message-btn {
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .listing-message .delete-message-btn:hover {
    color: #ff1f1f; }

.listing-message .review-entry p {
  margin-bottom: 0; }

.claim-refund-block ul li {
  position: relative; }

.claim-refund-block .avatar-block {
  text-align: center; }
  .claim-refund-block .avatar-block span[class^='ti'] {
    font-size: 70px; }

.claim-refund-block .claim-refund-meta {
  position: absolute;
  right: 0;
  top: 17px; }
  .claim-refund-block .claim-refund-meta a {
    margin: 0 8px;
    text-align: center;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .claim-refund-block .claim-refund-meta a:hover {
      color: #fd880a; }
  .claim-refund-block .claim-refund-meta a.listing-btn-cmn:hover {
    color: #fff; }

.table thead th {
  border-bottom: 1px; }

tr.no-border td {
  border: none;
  padding: 10px; }

tr.border-bottom td {
  border-bottom: 1px solid #eceeef; }

.checkout-block {
  padding: 80px 0 100px 0; }
  .checkout-block .product-block,
  .checkout-block .cart-info {
    display: inline-block; }
  .checkout-block .product-block {
    width: 40%; }
  .checkout-block .cart-info {
    width: 59%;
    padding-left: 30px;
    vertical-align: top; }
    .checkout-block .cart-info h2 {
      font-weight: 700;
      margin-bottom: 20px; }
    .checkout-block .cart-info .price {
      font-size: 24px;
      font-weight: 700;
      display: block;
      margin-bottom: 15px; }

.invoice-block {
  padding: 80px 0 100px 0; }

.user-profile-update-block {
  padding: 80px 0 70px 0; }

.user-profile-form .edit-profile-photo {
  position: relative;
  height: 300px;
  width: 300px; }

.user-profile-form .change-photo-btn {
  font-weight: 600;
  padding: 5px 6px;
  color: #333;
  background-color: #fff;
  border-radius: 50px;
  display: inline-block;
  font-size: 13px;
  width: auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  line-height: 20px;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  width: 140px;
  margin: 0 auto; }

.user-profile-form .photoUpload {
  position: relative;
  overflow: hidden;
  padding: 3px 12px;
  cursor: pointer; }
  .user-profile-form .photoUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); }

.slide-nav-trigger {
  display: none; }

/*
|----------------------------------------------------------------------------
| 26. Footer Style
|----------------------------------------------------------------------------
*/
footer {
  background: #252525; }

.footer-top-block {
  padding: 70px 0 50px 0; }

.footer-widget .footer-logo-block {
  margin-bottom: 15px; }

.footer-widget p {
  color: #fff;
  margin-bottom: 0; }
  .footer-widget p i.fa {
    margin-right: 4px; }

.footer-widget p.address {
  margin-bottom: 17px; }

.footer-social-block span {
  color: #fff; }

ul.social {
  margin: 0;
  padding: 0;
  display: inline-block; }
  ul.social li {
    list-style: none;
    display: inline-block;
    margin: 0 8px; }
    ul.social li a {
      color: #fff;
      -webkit-transition: 0.3s ease-in;
      -o-transition: 0.3s ease-in;
      transition: 0.3s ease-in; }
      ul.social li a:hover, ul.social li a:active, ul.social li a:focus {
        color: #fd880a; }

.footer-widget-title {
  line-height: 30px;
  color: #fff;
  margin-bottom: 12px; }

.footer-content-list {
  margin: 0;
  padding: 0; }
  .footer-content-list li {
    list-style: none; }
    .footer-content-list li a {
      color: #fff;
      line-height: 30px;
      font-weight: 300; }
      .footer-content-list li a:hover, .footer-content-list li a:active, .footer-content-list li a:focus {
        color: #fd880a; }

.footer-bottom-block {
  padding: 18px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .footer-bottom-block .copyright-text {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    color: #fff; }
    .footer-bottom-block .copyright-text a {
      -webkit-transition: 0.3s ease-in;
      -o-transition: 0.3s ease-in;
      transition: 0.3s ease-in; }
      .footer-bottom-block .copyright-text a:hover, .footer-bottom-block .copyright-text a:active, .footer-bottom-block .copyright-text a:focus {
        color: #fd880a; }
  .footer-bottom-block .footer-nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: right; }
    .footer-bottom-block .footer-nav li {
      display: inline-block;
      margin: 0 10px; }
      .footer-bottom-block .footer-nav li a {
        color: #fff;
        -webkit-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in; }
        .footer-bottom-block .footer-nav li a:hover, .footer-bottom-block .footer-nav li a:active, .footer-bottom-block .footer-nav li a:focus {
          color: #fd880a; }
